<!-- <ActionBar title="Details"></ActionBar>


<RadSideDrawer tkExampleTitle tkToggleNavButton>
  <GridLayout tkDrawerContent rows="56, *" class="sideStackLayout">
    <StackLayout class="sideTitleStackLayout">
      <Label text="Navigation Menu"></Label>
    </StackLayout>
    <ScrollView row="1">
      <StackLayout class="sideStackLayout">
        <Label text="Primary" class="sideLabel sideLightGrayLabel"></Label>
        <Label text="Social" class="sideLabel"></Label>
        <Label text="Promotions" class="sideLabel"></Label>
      </StackLayout>
    </ScrollView>
  </GridLayout>
  <StackLayout tkMainContent>
    <GridLayout>
      <page-router-outlet></page-router-outlet>
    </GridLayout>
  </StackLayout>
</RadSideDrawer> -->

<!-- <Frame>
  <Page>
    <ActionBar title="Your action bar"></ActionBar>
    <page-router-outlet actionBarVisibility="never"></page-router-outlet>
  </Page>
</Frame> -->

<GridLayout>
  <page-router-outlet></page-router-outlet>
</GridLayout>